---
const allLanguages = ["tr", "en"];
---

<div class="dropdown">
  <div tabindex="0" role="button" class="btn m-1">
    <img src="/icons/world.svg" alt="Dil" width="24" height="24" />
  </div>
  <ul
    tabindex="0"
    class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm"
  >
    {
      allLanguages.map((lang) => (
        <li>
          
        </li>
      ))
    }
  </ul>
</div>


