---
import LangSelector from "./LangSelector.astro";
import ThemeSelector from "./ThemeSelector.astro";
---

<nav class="navbar bg-base-100 shadow-sm">
  <div class="navbar-start"></div>
  <div class="navbar-end">
    <LangSelector />
    <ThemeSelector 
    />
  </div>
</nav>
