---
import "../assets/app.css";
import Navbar from "../components/Navbar.astro";
---

<!doctype html>
<html data-theme="cupcake">
    <body>
        <header>
            <nav>
                <Navbar/>
        </header>
        <main>
            <slot />
        </main>
    </body>
</html>
